*{
    margin:0px;
    padding:0px;
}

body{
    background-color: cornflowerblue;
    text-align: center;
}

h1{
    color:darkred;
    text-decoration: double;
    text-decoration-line: underline;
    margin-top: 12px;
    margin-bottom: 40px;
    font-weight: bolder;
}

.container{
    height:400px;
    display:flex;
    justify-content: center;
    align-items: center;

}

.game{
    height:350px;
    width:350px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2px;
}

.box{
    height:115px;
    width:115px;
    background-color: rgb(180, 227, 248);
    border-radius:10px;
    border:1px solid black;
    font-size: 30px;
    color:rgb(156, 21, 21);
}

.messagecontainer{
    height:50px;
    color:rgb(138, 43, 43);
    font-size: 20px;
    font-weight: bold;
}

.hide{
    display:none;
}

#resetbtn{
    color:white;
    background-color: darkred;
    font-size: 20px;
    padding:5px;
}